body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  box-sizing: border-box; /* fit parent width */
  height: 100%;
  width: 100%;
}

.classBlocks {
  display: flex;
  flex-direction: column;
  grid-column: 10px;
}

.classBlocks > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.classBlocks > div > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alignC{
  align-self: center;
}

.alignL{
  align-self: flex-start;
}

.classBlocks button {
  padding: 0px 20px;
  margin: 5px;
}