# dependencies
**/node_modules
**/.pnp
**/.pnp.js

# testing
**/coverage

# production
**/build

# misc
/peertopeer webrtc mongodb/**/.env
**/.vscode
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
/peertopeer webrtc mongodb/old
/server_codespace/test client for server
/server_codespace/test server
**/readme.txt

**/data-mongo
**/data-mongo2