//- Content is loaded from GitHub
doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html' charset='UTF-8')

    title Study process
        
    link(rel='stylesheet' href='/q/index.css')


  body(class='tableContactsClass')
    article
      #{data}
    script(src = '/q/scripts.js', type='text/javascript' )

//-document.onclick = loadJSON([#{data}])
//-    window.onload = async function() {
//-        const element = document.querySelector('p');
//-        let q = [#{data}];
//-        console.log("q[0]._id");
//-        
//-       element.setHTML(q);
//-element.setHTML(JSON.stringify(q));
//-console.log(JSON.stringify(q));99
//-    };
